@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(217, 248, 222);
}

/* Hide arrows in number input */
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
} */

/* Hide arrows in number input on hover */
/* input[type="number"]:hover::-webkit-outer-spin-button,
input[type="number"]:hover::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
} */
